/*Some css fixes to use night theme with IPython slides*/
body {
background-color: #FFFFFF;
font-size: 18px;
}
.reveal p {
color: #000000;
}
.reveal ul, ol {
color: #000000;
}
div.output_area pre {
font-size: 18px;
}
div.output_stderr {
background: #F00;
font-size: 16px;
}
div.output_stdout{
font-size: 16px;
}
.reveal table th, .reveal table td {
color: #000000;
}

